<div class="tasks-container">
  @if (!taskItems().length) {
  <p>No task found</p>
  }
  @if (selectedTask) {
    <p class="working-on-task">Working on: {{ selectedTask.name }}</p>
  }
  <app-new-task (taskOutput)="this.addTaskItem($event)" />
  
  <ul class="task-items">
    @for (task of taskItems(); track task.$loki) {
      <li>
        <app-task-item 
          [task]="task"
          [isSelected]="selectedTask?.$loki === task.$loki"
          (taskSelected)="selectTask($event)"
          (taskDeleted)="deleteTask($event)">
        </app-task-item>
      </li>
    }
  </ul>

  
</div>
